
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col"><a href="#/index"
				data-ng-click="orderByField='name'; reverseSort = !reverseSort">Project</a></th>
			<th scope="col"><a href="#/index"
				data-ng-click="orderByField='h'; reverseSort = !reverseSort">Hours</a></th>
			<th scope="col"><a href="#/index"
				data-ng-click="orderByField='amount'; reverseSort = !reverseSort">Amount</a></th>
			<th scope="col"><a href="#/index"
				data-ng-click="orderByField='amountPerH'; reverseSort = !reverseSort">[zl/h]</a></th>
			<th scope="col">Status</th>
			<th scope="col"><input type="checkbox" data-ng_model="showComplete">
				All</th>
		</tr>
	</thead>
	<tbody data-ng-init="getHoursByProject()">
		<tr
			data-ng-repeat="item in projects | closedProjects:showComplete | orderBy:orderByField:reverseSort">
			<td></td>
			<td>{{item.name}}</td>
			<td data-ng-init="item.h = getHoursByProject(item.id)">{{item.h}}</td>
			<td>{{item.amount}}</td>
			<td
				data-ng-init="item.amountPerH = item.amount/getHoursByProject(item.id)">{{item.amountPerH
				| number:2}}</td>
			<td><input type="checkbox" data-ng-model="item.status"
				data-ng-disabled="true" /></td>
			<td>
				<div class="btn-group">
					<button class="btn btn-primary"
						data-ng-disabled="item.status"
						data-ng-click="passId(item.id); getProjectDetails(item.id)">Edit</button>
					<button class="btn btn-primary"
						data-ng-click="deleteProject(item.id)"
						onClick="window.location.reload();">Delete</button>
					<button class="btn btn-primary" ng-show="!item.status"
						data-ng-click="closeOrOpenProject(item); getProjects()"
						onClick="window.location.reload();">Close</button>
					<button class="btn btn-primary" ng-show="item.status"
						data-ng-click="closeOrOpenProject(item); getProjects()"
						onClick="window.location.reload();">Open</button>
				</div>
			</td>
		</tr>
	</tbody>
	
</table>

<button class="btn btn-primary" data-ng-click="addProjectForm()">Add Project</button>